body{
    color: #B1967C;
    font-family: Palatino Linotype, Baskerville;
    padding-top: 100px;
    width: 800px;
    margin: 0px auto 0px auto;
    background-image:  url(../images/bg_body.png);
    background-repeat: repeat-x;
    background-color: #CDE6FF;

}

#main{
    float:left;
    width: 580px;
}

#sidebar{
    background-color: #E9F5FE;
    padding:15px;
    margin-left: 600px;
}

h1{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 2.2em;
    color: #AFC3D6;
    margin-bottom: 5px;
}

#main h2{
    color: #E8A064;
    border-bottom: solid #fff 1px;
    background-image: url(../images/bullet_flower.png);
    background-repeat: no-repeat;
    padding: 0px 0px 10px 80px;


}
button{
    margin-left: 30px;
    background: #CDE6FF;
}