body {
    background: black;
    background: faf5f6;
	font-family: "Quicksand", sans-serif;
	color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

div {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    background: white;
    width: 900px;
}

table {
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;  font-family: arial, sans-serif;
  text-align: center;
  border-collapse: collapse;
  width: 800px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: rgba(69, 69, 69, 0.603);
}

.contenedor {
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.gbd {
    background-color: rgba(0, 0, 255, 0.2);
}
.plar {
    background-color: rgba(204, 36, 36, 0.479);
}
.fol {
    background-color: rgba(23, 110, 84, 0.5);
}
.iso {
    background-color: rgba(76, 14, 107, 0.616);
}
.lm {
    background-color: rgba(255, 0, 149, 0.315);
}
.fuh {
    background-color: rgba(255,184,28, 0.5);
}

.recreo {
    background: linear-gradient(45deg, rgba(116, 94, 23, 0.589) 20%, rgba(28, 223, 28, 0.589) 40%, rgba(152, 44, 206, 0.5) 60%, rgba(36, 51, 185, 0.548) 80%, rgba(255,184,28, 0.5) 100%);
}