.banner{
    margin-left: auto;
    margin-right: auto;
    width: 765px;
}
h3{
    font-style: Verdana 20px;
    letter-spacing: 4px;
    color:rgb(121, 3, 3);
}
ul{
    list-style-position: inside;
    list-style-type: square;
}
h2{
    text-decoration: underline;
    color:rgb(121, 3, 3);
}
body{
    background-color: #696969;
    background-image:url(../Ejercicio05%20Suzuki/imagenes/bg_page.png);
    background-repeat: repeat-y;
    background-position: center;
}
button{
    position: static;
    background-color: #bbb5b5;
    padding: 2px;
    margin: 5px;
}
.contenido{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    text-align: center;
}
h1{
    color:rgb(121, 3, 3);
}
.logo{
    float: left;
    border: none;
    position: fixed;

}
img{
    border: solid black 3px;
}