div{
    width:300px;
    height:200px;
    margin:20px;
	display:inline-block;
	border:1px solid #000;
}
.españa{
    background-image: linear-gradient(180deg, #AA151B 0% 25%, #F1BF00 25% 75%, #AA151B 75% 100%);
    color: white
}
.francia{
    background-image: linear-gradient(90deg,red 33%, white 33%, white 66.66%, blue 66.66%);
    color: white
}

.japon { 
    background-image:radial-gradient(circle, red 33%, white 33%, white);
}
.alemania {
    background-image: linear-gradient(black 33%, red 33% 66.66%, yellow 66.66%);
    color: white
}

.italia {
    background-image: linear-gradient(90deg, green 33%,white 33%,white 66.66%,red 66.66%);
    color: white
}
.austria{
background-image: linear-gradient(180deg, red 33%, white 33%,white 66.66%, red 66.66%);
color: white
}
h1{
    color:gold;
    margin-bottom: 40px;
}
body{
    background-color: gray;
}

button a:hover{
    color: white;
    transition: 0,5s ease-in;
}
button{
    margin-bottom: 5%;
    background-color: rgb(179, 175, 175);
}