body{
    background: url(https://i.gifer.com/ZShU.gif);
    background-attachment: fixed;
    font-family: Verdana, sans-serif;
    color: rgba(157, 65, 180, 0.599);
}



.caja{
    background: #17c0a456;
    height: auto;
}


.caja2{
    background: rgba(240, 255, 255, 0.712);
    border: 7px solid rgba(19, 208, 189, 0.582);
    border-radius: 80px 50px 80px 50px;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px;
}

label{
    font-size: 20px;
    font-style: italic;
    color: purple;
}

.entrada{

    background-color: rgba(35, 70, 175, 0.288);
    border: 1px solid rgba(84, 27, 227, 0.993);;
    margin: 5px;
    height: 15px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}
.salida{

    background-color: rgba(35, 70, 175, 0.288);
    border: 1px solid rgba(84, 27, 227, 0.993);;
    margin: 5px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.entrada-boton{
    background-color: rgba(35, 70, 175, 0.288);
    border: 1px solid rgba(84, 27, 227, 0.993);;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.entrada:hover, .entrada-boton:hover{
    background-color: rgba(202, 244, 15, 0.553);
    transition: .5s;
}

hr{
    background-color: rgba(19, 208, 189, 0.582  );
    height: 2px;
}

.cyan{
    color: cyan;
}

.center{
    text-align: center;
}

dt{
    font-size:larger;
}

li, dd{
    margin:6px;
}
dl{
    margin: 25px 0px;
}
h1{
    margin: 0;
    padding: 0;
    width:100%;
    text-align: center;
    font-style: italic;
    font-size:2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 3px 0px 0.5px rgb(94, 21, 197);
    color:transparent;
    text-decoration: underline;
}