body{
    background-image: url(https://i.pinimg.com/originals/0f/88/3e/0f883e6f5db348671c1e26a7dfd2e5f3.gif);
}

.caja2{
    padding: 25px;
    width: 360px;
    margin: 10px auto;
    border-top: 2px solid rgba(6, 255, 40, 0.295);
    border-right: 2px solid rgba(81, 199, 96, 0.295);
    border-bottom: 5px solid rgba(73, 242, 95, 0.295);
    border-left: 4px solid rgba(6, 255, 39, 0.782);
    border-radius: 6px 10px 6px 10px;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 1.9px 0.5px 2px rgba(240, 10, 240, 0.911);
    background: rgba(165, 162, 162, 0.886);
    text-align: center;
}
h2{
    margin: 0;
    padding: 0;
    width:100%;
    text-align: center;
    font-style: italic;
    font-size:2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 3px 0px 0.5px rgb(168, 144, 7);
    color:transparent;
    text-decoration: underline;
}

h3{
    color: #05f99b;
}
.caja3{

    padding: 4px;
    width: 90%;
    margin: 10px auto;
    text-align: left;
    
}

.salida{
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    box-sizing: border-box;
    border-top: 2px solid #dcecb685;
    border-right: 2px solid #dcecb685;
    border-bottom: 5px solid #b2b6b241;
    border-left: 4px solid #e4ecb618;
    border-radius: 8px 10px 8px 10px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.247);
    
}
.salida:hover{
    background: rgb(112, 102, 11);
    border-top: 2px solid #fff;
    border-right: 2px solid rgba(255, 217, 0, 0.295);
    border-bottom: 5px solid #fff;
    border-left: 4px solid rgba(255, 217, 0, 0.295);
    transition: .5s;
    background: rgba(235, 232, 232, 0.342);

}



button{
    margin: 5px 5px;
}

.left{
    text-align: left;
}
.center{
    margin: 5px auto;
    text-align: center;
}

hr{
    margin: 20px auto;
    color: pink;
}
.flex-column{
    display: flex;
    flex-direction: column;

}

a{
    transition: 2s;
}
a:active{
    transition: 2s;
}
.cyan{
    color:blue;
}

.input-entrada{
    border: 1px pink solid;
    background-color: #def;
    color: #300;
}

.input-entrada:hover{
    border: 1px pink solid;
    background-color: rgb(238, 246, 253);
    
    transition: .2s;
}
