body {
    background-image: url(https://www.xtrafondos.com/wallpapers/noches-de-verano-en-el-norte-de-noruega-8666.jpg?s=large);
}
.header {
    background-color: indigo;
    border: thin teal 12px;
    border-radius: 4px;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    
}
.nombretitulo {
    background-color: rgb(174, 85, 149);
    border: black;
    border-radius: 6px;
    border-style: groove;
    text-shadow: 2px 0px 2px black
}
h1 {
    color: rgb(68, 4, 105);
}
a:hover{
    color: rgb(236, 10, 10);
    transition: 0,5s ease-in;
}
.botones{
    padding-inline-start: 10px;
    margin-left: 8px;
    width: 70%;
    position: sticky;
    top: 15px;
}

.contenido{
    padding: 1px;
    margin-left: 16%;
    margin-right: 3%;
    height:100%;
    background-color: rgb(174, 85, 149);
    border:solid black 2px;
    border-radius: 6px;
}
u{
    color:rgb(31, 31, 82); ;
}
button{
    background-color: rgb(161, 89, 203);
}

li a {
    display: block;
    width: 90px;
}
li a:hover{
    color: rgb(91, 211, 241);
}

.vertical-menu {
    width: 225px; 
    float: left;
    position: absolute;
}
      
.vertical-menu a {
    background-color: rgb(174, 85, 149); 
    color: black; 
    display: block; 
    padding: 12px;
    text-decoration: none; 
    margin-left: -10px;
    width: 170px;
}
      
.vertical-menu a:hover {
    background-color: rgb(163, 64, 64); 
}
      
.vertical-menu a.active {
    background-color: rgb(49, 10, 73);
    color: white;
}
.vertical-menu li{
    list-style: none;
}
a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}
.ejercicios{
    text-decoration: underline;
}
