body {
    background-color: black;
    color:gold;
    background-image: url(https://cadenaser00.epimg.net/ser/imagenes/2021/04/08/ciencia/1617866705_638557_1617869065_noticia_normal.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}

.contenedor {
    background-color: indigo;
    border: thin teal 12px;
    border-radius: 4px;
}

.caja{
    padding: 20px;
    text-align: left;
    border: solid rgb(97, 16, 16) 7px;
    border-radius: 20px 0px 20px 0px;
    background-color: #ff7070;
}

.parrafoverde{
    color: rgb(42, 240, 42);
}

.parraforojo{
    color: red;
}
.caja1{
    background-color: rgb(54, 167, 175);
    border: solid rgb(163, 212, 27) 4px;
    border-radius: 8px;

}
.caja1 h2{
    text-shadow: 4px 4px 4px royalblue;
    color: salmon;
}

.caja1:hover{
    color: white;
    transition: 1s ease-in;
}
.caja2 p{
    background-color: red;
    border-radius: 8px;
}
.caja3{
    border: solid black 4px;
    border-radius: 6px;
    background-image: url(https://img.vixdata.io/pd/jpg-large/es/sites/default/files/btg/curiosidades.batanga.com/files/5-cosas-sobre-el-espacio-y-la-materia-que-debemos-tener-claras.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    color: #ffffff;
    padding: 6px;
}
.caja4{
    background: linear-gradient(180deg, rgb(129, 52, 52), rgb(43, 43, 116));
    color: rgb(245, 244, 170);
}
.caja5{
    color: rgb(255, 227, 67);
    text-shadow: 5px 5px #1e271e;
    text-align: center;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.outline{
    outline: rgb(236, 157, 39) dotted thick;
}

.contenedor2{
    border: outset rgb(136, 66, 66) 10px;
    outline: white dotted medium;
    padding:10%;
    text-align: justify;
    background-color: wheat;
    margin: 50px;
}
.caja6{
    color: rgb(39, 239, 253);
    text-shadow: 4px 4px rgb(15, 114, 160);
    -webkit-text-stroke: 1px lightblue;
    font-size: 50px;
    text-align: center;
}
p[contenteditable]:focus{
    background-color:brown;
    color: greenyellow;
}
.texto{
    color: black;
    border: solid cadetblue 2px;
    background-color: coral;
    border-radius: 2px;
}
.indice{
    background-color: aquamarine;
    border: black 2px;
    border-radius: 6px;
    border-style: ridge;
    margin-right: 85%;
}
button a:hover{
    color: white;
    transition: 0,5s ease-in;
}
button{
    margin-bottom: 5%;
    background-image: url(https://img.vixdata.io/pd/jpg-large/es/sites/default/files/btg/curiosidades.batanga.com/files/5-cosas-sobre-el-espacio-y-la-materia-que-debemos-tener-claras.jpg);
}