html{
    background-color: #FDF8AB;
}

body{
    background-color: #FFF;
    border: solid 3px #85A110;
    width: 760px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px; /*Espacio entre letras*/
    color: #85A110;
    text-transform: uppercase; /*Pone todo en mayusculas */
    background-color: #E2EBB4;
    text-align: center;
    margin: 0px -15px 20px -15px;
}

h2{
    font-size: 24px;
    font-family: Arial Narrow, Arial, sans-serif;
    color:#F96B18;
    border-top:  #8DA516 dotted 2px;
    border-bottom:  #8DA516 dotted 2px;
    padding: 5px 0px 5px 0px;
    margin: 15px 0px 15px 0px;
    overflow: hidden; /*Oculta el contenido que sobra si algo lo pisa*/
}

.sidebar{
    width: 30%;
    margin: 10px;
    float: right;
    background-color: #FAEBC7;
    padding: 10px 20px 10px 20px;
    border: #FC6512 dotted 1px;
    border-top: #FC6512 solid 20px;
}

.sidebar h2{
    border: none;
    margin-top: 0px;
    padding:0px;
}